* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: var(--header-background-color);
}

.image_hero_content {
  width: 100%;
  max-width: 1800px; /* Define um tamanho máximo para o Hero */
  height: auto;
}
