* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonteWork);
}

.container_historiaHero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    padding-top: 70px;
}

.image_herohistoria_content {
    width: 100%;
    height: 100%;
    background-image: url(assets/judoHistory.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto_historia_judo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fonteWork);
    color: var(--branco-texto);
    margin-top: 98px;
    margin-left: 98px;
    margin-right: 98px;
    gap: 40px;
}

.texto_historia_judo h1 {
    font-family: var(--fonteWork);
    color: var(--branco-texto);
    font-size: var(--h1);

}

.texto_paragrafo h4{
    font-size: var(--h4);
    font-weight: 400;
}

.texto_paragrafo span {
    font-size: var(--h5);
    font-weight: 300;
    line-height: 1.1;
}

.paragrafos_historia_judo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;
}

.texto_paragrafo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}