.container-comoParticipar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    height: 700px;
    width: 100%;
    padding: 32px;
}

.title-comoPariticipar h1{
    color: var(--azul-escuro);
    width: 100%;
    height: 100%;
}

.texto-comoParticipar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-comoParticipar span{
    font-family: var(--fonteWork);
    font-weight: 400;
    font-size: var(--h4);
    color: var(--azul-escuro);
}

.mapas-comoParticipar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mapa{
    display: flex;
    flex-direction: column;
    font-family: var(--fonteWork);
    font-weight: 200;
    font-size: var(--h6);
    align-items: center;
    color: var(--azul-escuro);
}