.fullContainerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    background-color: var(--vermelho-escuro) !important;
}

.fullContainerPage>* {
    width: 100vh;
    overflow-x: hidden;
}