:root {
    --vermelho-escuro: #590F15;
    --vermelho: #751B23;
    --branco: #D4D4D4;
    --cinza: #8C8C8C;
    --preto: #0D0D0D;
    --azul-medio: #2D2D46;
    --azul-escuro: #27273F;

    --branco-texto: #FFFFFF;
    --preto-texto: #1E1E1E;

    --fonteLato: "Lato", sans-serif;
    --fonteWork: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

body {
    background-color: #FFFFFF;
    font-family: var(--fonte);
}
